streamlit
surya-ocr==0.8.3
opencv-python-headless==4.8.1.78
pdf2image
numpy
pandas
Pillow
torch
transformers
filetype
ftfy
pdftext
pypdfium2
python-dotenv
tabulate
pydantic
pydantic-settings
xlsxwriter
tqdm
huggingface-hub
doclayout-yolo
requests
openpyxl
streamlit-drawable-canvas
matplotlib
scipy
scikit-learn
joblib
ultralytics
