streamlit==1.22.0
surya-ocr==0.8.3
opencv-python-headless==4.11.0.86
pdf2image==1.17.0
numpy==2.2.4
pandas==2.2.3
Pillow==10.4.0
torch==2.7.0
transformers==4.49.0
filetype==1.2.0
ftfy==6.3.1
pdftext==0.4.1
pypdfium2==4.30.0
python-dotenv==1.0.1
tabulate==0.9.0
pydantic==2.10.6
pydantic-settings==2.8.1
XlsxWriter==3.2.2
tqdm==4.67.1
huggingface-hub==0.29.3
doclayout_yolo==0.0.3
requests==2.32.3
openpyxl==3.1.5
streamlit-drawable-canvas==0.9.0
matplotlib==3.10.1
scipy==1.15.2
scikit-learn==1.7.0
joblib==1.5.1
ultralytics==8.3.169
psutil
